name: Metrics
on:
  # Schedule updates
  schedule: [{ cron: "0 22 * * 0" }]
  workflow_dispatch:
  push: { branches: "main" }
jobs:
  github-metrics:
    runs-on: self-hosted
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          base_indepth: yes
          output_action: commit
          committer_message: "chore: update metrics"
          plugin_wakatime: yes
          plugin_wakatime_days: 365
          plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
          plugin_wakatime_sections: time, languages, languages-graphs, editors, os, os-graphs, editors-graphs
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_colors: github
          plugin_languages_sections: most-used, recently-used
          plugin_languages_details: lines, bytes-size, percentage
          plugin_languages_recent_load: 600
          plugin_languages_recent_days: 365
          plugin_languages_threshold: 0%
          plugin_stars: yes
          debug: yes
